*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    position: relative;
    height: 100vh;
    background-color: green;
}

.main__wrapper{
    display: flex;
    height: 95%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
}

.left__side{
    height: 100%;
    width: 500px;
    flex-shrink: 1;
    background-color: lightgreen;
}

.top__stripe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 10px;
    background-color: orange;
}

.top__stripe__img{
    display: flex;
    align-items: center;
    height: 100%;
}

.top__stripe__img img{
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.tool__sec{
    display: flex;
}

.notification{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #8EDAFC;
}

.notif__icon{
    padding: 20px;
    background-color: white;
    border-radius: 50%;
}

.search__contact{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: white;
}

.search__contact i{
    margin: 0 20px;
}

.search__contact input{
    height: 100%;
    width: 80%;
}

.chat__element{
    display: flex;
    list-style: none;
    height: 65px;
}

.chat__element img{
    height: 100%;
    border-radius: 50%;
}

.right__side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 500px);
    background-color: lightblue
}

.message__exchange{
    margin-bottom: auto;
}

.send{
    background-color: green;
    max-width: 500px;
    margin-left: auto;
}

.receive{
    background-color: white;
    max-width: 500px;
    margin-right: auto;
}

.write__sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: orange;
}

.write__sec i{
    font-size: 25px;
    margin: 0 25px;
}

.write__sec input{
    width: 100%;
    height: 80%;
}