*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

#root{
    position: relative;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #DBDBD2;
}

#root::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

.main__wrapper{
    display: flex;
    height: 95%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left__side{
    height: 100%;
    width: 500px;
    flex-shrink: 1;
    background-color: white;
    overflow: hidden;
}

.top__stripe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 10px;
    background-color:#EAEAEA;
    color: #B1B1B1;
}

.top__stripe:not(:last-child){
    border-right: 1px solid lightgray;
}

.top__stripe__img{
    display: flex;
    align-items: center;
    height: 100%;
}

.top__stripe__img img{
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.top__stripe p{
    color: black;
}

.tool__sec{
    display: flex;
}

.tool__sec i{
    margin-left: 20px;
}

.notification{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #8EDAFC;
}

.notif__icon{
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    margin: 0 15px 0 5px;
}

.search__contact{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: lightgray;
}

label{
    height: 85%;
    padding: 0 20px;
    background-color: white;
    line-height: 30px;
}

.search__contact input{
    border: none;
    height: 85%;
    width: 100%;
    padding-left: 10px;
}

.add__contact{
    display: flex;
    align-items: center;
}

.plus{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 5px 20px 5px 15px;
    background-color: #009688;
    border-radius: 50%;
    cursor: pointer;
}

.plus i{
    margin: auto;
}

.newcontact__data{
    display: none;
    height: 0px;
}

.open{
    display: block;
    height:auto;
}

.submit__contact{
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: #009688;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}

.chat__list{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100vh - 200px) ;
    overflow: auto;
}

.chat__element{
    display: flex;
    list-style: none;
    padding: 10px 0 10px 15px;
    height: 70px;
}

.chat__element:not(:first-child){
    border-top: 1px solid lightgray ;
}

.chat__element:hover{
    background-color:#EAEAEA;
}

.active{
    background-color:#EAEAEA;
}


.chat__element img{
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}

.right__side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 500px);
    overflow: hidden;
}

.message__exchange{
    height: 100%;
    background-image: url('../img/mine.jpg');
    
}

.message__wrapper{
    height: calc(100% - 80px);
    padding: 20px;
    overflow: auto;
}

.send{
    display: flex;
    flex-direction: column;
    background-color:#D5F9BA;
    max-width: 350px;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.receive{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 350px;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.data{
    align-self: flex-end;
    color: gray;
}

.write__sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 500px);
    height: 65px;
    background-color: #F3EEEA;
}

.write__sec button{
    font-size: 25px;
    width: 80px;
    padding: 5px 0;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    color: #6B7376;
}

.emoji__container{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.emoji__container:hover .emoji__wrapper{
    opacity: 1;
    height: 200px;
}

.emoji__wrapper{
    opacity: 0;
    position: absolute;
    bottom: 65px;
    left: 20px;
    width: 200px;
    height: 0px;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    transition: all .5s;
}

.emoji__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px 5px 5px 2.5px;
}

.emoji__list li{
    width: 20%;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.write__sec input{
    width: 100%;
    height: 80%;
    border: none;
    padding-left: 20px;
}

.write__sec input::placeholder{
    font-size: 16px;
}

.audio__rec:active{
    color: #0492c2;
    animation: recording 2s linear infinite;
}

@keyframes recording{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@media screen and (max-width: 992px){
    .left__side{
        width: 350px;
    }
    .right__side{
        width: calc(100% - 350px);
    }
    .write__sec{
        width: calc(100% - 350px);
    }
}