<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="root">
            <div class="main__wrapper">
                <!-- sezione sx pagina -->
                <div class="left__side">
                    <div class="top__stripe">
        
                        <div class="top__stripe__img">
                            <img src="img/avatar_1.jpg" alt="">
                            <p>Nome Utente</p>
                        </div>   
                        
                        <div class="tool__sec">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i> 
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>

                    <div class="notification">

                        <div class="notif__icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div>
                            <p>ricevi notifiche di nuovi messaggi</p>
                            <a href="#">attiva notifiche desktop</a>
                        </div>
                    </div>

                    <div class="search__contact">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="cerca o inizia una nuova chat">
                    </div>

                    <!-- elenco contatti e chat -->
                    <ul class="chat__list">
                        <li class="chat__element" v-for="(elements, index) in contacts" @click="selectContact(index)">
                            <img v-bind:src="elements.avatar" alt="img">
                            <p>{{elements.name}} {{index}} </p>
                        </li>
                    </ul>
                    <!--end elenco contatti e chat -->
                </div>
                <!--end sezione sx pagina -->

                <!-- sezione dx pagina -->
                <div class="right__side">
                    <div class="top__stripe">
                        <div class="top__stripe__img">
                            <img :src="contacts[elementIndex].avatar" alt="">
                            <p>{{contacts[elementIndex].name}}</p>
                        </div>   
                        
                        <div class="tool__sec">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i> 
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="message__exchange">
                        <div v-for="element in contacts[elementIndex].messages" :class="element.status == 'sent' ? 'send' : 'receive' " >
                            <span>{{element.text}}</span>
                            <p><small>{{element.date}}</small></p>
                        </div>
                        
                    </div>
                    <div class="write__sec">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="scrivi un messaggio" v-model="newText" @keypress.13 = "sendMsg">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
                <!--end sezione dx pagina -->

            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>